/* 
                        Table of contents

                    1. 'contact-us' section styling
                    2. media queries

*/
/* 1. 'contact-us' section styling */
main #contact {
    height: var(--contact-section-height);
    width: 100%;
    background-color: #B3CEFA;
    font-family: "Rosario", sans-serif;
    color: #15438F;
    --font-size-big: 2.3rem;
    --font-size-normal: 1.7rem;
    --font-size-small: 1.5rem;
}
main #contact ::-moz-selection {
    background-color: white;
    color: #15438F;
}
main #contact ::selection {
    background-color: white;
    color: #15438F;
}
main #contact h1 {
    font-family: inherit;
    font-size: var(--font-size-big);
    font-weight: 300;
    color: inherit;
    padding: 5% 0 3% 8%;
}
main #contact p {
    font-family: inherit;
    font-size: var(--font-size-normal);
    color: inherit;
    padding: 1rem 1rem 1rem 8%;
}
main #contact fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
main #contact .row {
    background-color: inherit;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 8%;
    font-family: inherit;
    display: flex;
    font-size: var(--font-size-normal);
}
main #contact .align-items-center {
    align-items: center;
}
main #contact .row:last-child {
    padding-bottom: 5%;
}
main #contact .row .half-row {
    background-color: inherit;
    width: 40%;
    float: left; 
    font-family: inherit;
    font-size: inherit;
    /* background-color: khaki; */
}
main #contact .row .half-row:last-child {
    margin-left: 8%;
}
main #contact .row .half-row label {
    display: block;
    width: 100%;
    font-size: inherit;
}
main #contact .row .half-row input {
    display: block;
    width: 80%;
    font-size: var(--font-size-small);
    border: none;
    border-bottom: 2px solid #15438F;
    background-color: transparent;
    padding: 0.5em;
    color: white;
    font-family: inherit;
}
main #contact .row .whole-row {
    /* background-color: khaki; */
    width: 80%;
    font-size: inherit;
}
main #contact .row .whole-row label {
    display: block;
    width: 100%;
    font-size: inherit;
}
main #contact .row .whole-row textarea {
    display: block;
    width: 100%;
    font-size: var(--font-size-small);
    border: none;
    border-bottom: 2px solid #15438F;
    background-color: transparent;
    padding: 0.5em;
    color: #ffffff;
    font-family: inherit;
    resize: none;
    min-height: 10rem;
    overflow-y: hidden;
}
main #contact .row button {
    border: none;
    background-color: #4284F3;
    color: #ffffff;
    font-family: 'Rosario', sans-serif;
    font-size: 1.4rem;
    cursor: pointer;
    padding: 0.5em 0.8em;
    border-radius: 0.4em;
    transition: background-color 0.3s ease;
    position: relative;
}
main #contact .row button[data-state="processing-data"] {
    cursor: not-allowed;
}
main #contact .row button .text {
    visibility: initial;
}
main #contact .row button[data-state="processing-data"] .text {
    visibility: hidden;
}
main #contact .row button:hover,
main #contact .row button:focus {
    background-color: #1c6bf5;
}
main #contact .row button[data-state="processing-data"]:hover,
main #contact .row button[data-state="processing-data"]:focus {
    background-color: #4284F3;
}
main #contact h1,
main #contact p,
main #contact .row .half-row,
main #contact .row .whole-row,
main #contact .row button {
    transform: translateX(-200px);
    opacity: 0;
}
main #contact .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    border: 3px solid #ffffff;
    border-left-color: transparent;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    animation: spin89345 1s linear infinite;
}
main #contact .row button .loader {
    display: none;
}
main #contact .row button[data-state="processing-data"] .loader {
    display: block;
}

/* ANIMATIONS */
@keyframes spin89345 {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/* 2. MEDIA QUERIES */
@media screen and (max-width: 1150px) {
    main #contact {
        --font-size-big: 2.1rem;
        --font-size-normal: 1.5rem;
        --font-size-small: 1.4rem;
    }
    main #contact .row button {
        font-size: 1.25rem;
    }
}
@media screen and (max-width: 1050px) {
    main #contact .row .half-row {
        width: 45%;
    }
    main #contact .row .half-row:last-child {
        margin-left: 3%;
    }
    main #contact .row .whole-row {
        width: 84%;
    }
}
@media screen and (max-width: 900px) {
    main #contact {
        --font-size-big: 2rem;
        --font-size-normal: 1.4rem;
        --font-size-small: 1.3rem;
    }
    main #contact .row button {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 750px) {
    main #contact {
        --font-size-big: 2.3rem;
        --font-size-normal: 1.7rem;
        --font-size-small: 1.5rem;
    }
    main #contact .row button {
        font-size: 1.4rem;
    }
    main #contact .row:first-child {
        flex-direction: column;
    }
    main #contact .row .half-row {
        padding-top: 3%;
        padding-bottom: 3%;
        width: 65%;
    }
    main #contact .row .half-row:last-child {
        width: 85%;
    }
    main #contact .row .half-row:last-child {
        margin-left: 0;
    }
}
@media screen and (max-width: 630px) {
    main #contact {
        --font-size-big: 2rem;
        --font-size-normal: 1.4rem;
        --font-size-small: 1.3rem;
    }
    main #contact .row button {
        font-size: 1.2rem;
    }
    main #contact p {
        padding-right: 8%;
    }
    main #contact .row,
    main #contact .row .half-row {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    main #contact h1 {
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    main #contact .row:last-child {
        padding-bottom: 2rem;
    }
}
@media screen and (max-width: 500px) {
    main #contact .row .half-row {
        width: 85%;
    }
    main #contact .row .half-row:last-child {
        width: 105%;
    }
}
@media screen and (max-width: 380px) {
    main #contact {
        --font-size-big: 1.65rem;
        --font-size-normal: 1.15rem;
        --font-size-small: 1rem;
    }
    main #contact .row button {
        font-size: 1rem;
    }
    main #contact .row .half-row {
        width: 105%;
    }
    main #contact .row .half-row input,
    main #contact .row .whole-row textarea {
        border-width: 1px;
    }
}