/* 
                        Table of contents

                    1. additional styling for nl_index.html
                        1.1 start section
                        1.2. media queries

*/
/* 1. additional stylings for dutch version */
/* 1.1 START SECTION */

/* 1.2 MEDIA QUERIES */
@media screen and (max-width: 1330px) {
    
}
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 1200px) {
    
}
@media screen and (max-width: 1150px) {
    main section.about-us .text h1,
    main section.about-us .text p {
        padding: 0.4em;
    }
    main .services .electrician_works .text,
    main .services .additional .text {
        padding-top: 7%;
    }
}
@media screen and (max-width: 1125px) {
    header {
        --logo-width: 10%;
    }
    header nav {
        width: 90%;
    }
}
@media screen and (max-width: 1050px) {
    main .services .electrician_works .text .wrapper h1 {
        padding: 0 0 1.5rem 0;
    }
}
@media screen and (max-width: 1000px) {
    header nav > .lang-btn::after {
        left: -80%;
        bottom: -40px;
    }
    header .side > .lang-btn::after {
        bottom: -40px;
    }
    main .start .see-projects {
        left: 30%;
    }
}
@media screen and (max-width: 950px) {
    header nav > a,
    header nav .wrapper > a {
        font-size: 1.4rem;
    }
}
@media screen and (max-width: 910px) {
    main .services .electrician_works .text .wrapper h1 {
        transform: translateX(-20px) !important;
    }
}
@media  screen and (max-width: 900px) {
    main .services .electrician_works .text {
        padding-top: 5%;
    }
    main .services .additional .text {
        padding-top: 6%;
    }
}
@media  screen and (max-width: 850px) {
    header {
        --logo-width: 20%;
    }
    header nav {
        width: 10%;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
    }
    header .side {
        opacity: 1;
        pointer-events: all;
    }
}
@media screen and (max-width: 830px) {
    main .services .electrician_works .text .wrapper h1 {
        transform: translateX(-28px) !important;
    }
}
@media  screen and (max-width: 800px) {
    main .services .electrician_works .text .wrapper h1 {
        transform: translateX(-14px) !important;
    }
}
@media  screen and (max-width: 780px) {
    main .start .see-projects {
        left: 27%;
    }
}
@media  screen and (max-width: 750px) {
    main .services .electrician_works .text,
    main .services .additional .text {
        padding-top: 3.5rem;
    }
}
@media  screen and (max-width: 700px) {
    main .start .see-projects {
        left: 24%;
    }
}
@media  screen and (max-width: 630px) {
    main .start .see-projects {
        left: 22%;
    }
}
@media  screen and (max-width: 570px) {
    main .start .see-projects {
        left: 50%;
    }
}
@media  screen and (max-width: 530px) {
    main .services .electrician_works .text,
    main .services .additional .text {
        padding-top: 2rem;
    }
}
@media  screen and (max-width: 460px) {
    
}
@media  screen and (max-width: 410px) {
    :root {
        --start-section-height: 520px;
    }
    main .start .button {
        width: 190px;
    }
    main .start .see-projects {
        top: 350px;
    }
}
@media  screen and (max-width: 360px) {
    :root {
        --start-section-height: 490px;
    }
    main .start .see-projects {
        top: 320px;
    }
}
@media  screen and (max-width: 310px) {
    :root {
        --start-section-height: 470px;
    }
    main .start .see-projects {
        top: 300px;
    }
}
