/* 
                        Table of contents

                    1. additional styling for sr_index.html
                        1.1 start section
                        1.2. media queries

*/
/* 1. additional stylings for serbian version */
/* START SECTION */

/* MEDIA QUERIES */
@media screen and (max-width: 1330px) {
    
}
@media screen and (max-width: 1250px) {
    
}
@media screen and (max-width: 1150px) {
    main section.about-us .text h1,
    main section.about-us .text p {
        padding: 0.4em;
    }
    main .services .electrician_works .text,
    main .services .additional .text {
        padding-top: 8%;
    }
}
@media screen and (max-width: 1050px) {
    
}
@media screen and (max-width: 1000px) {
    main .start .slider {
        bottom: 130px;
    }
    main .start .see-projects {
        left: 30%;
    }
}
@media  screen and (max-width: 900px) {
    main .services .electrician_works .text,
    main .services .additional .text {
        padding-top: 7%;
    }
}
@media  screen and (max-width: 800px) {
    
}
@media  screen and (max-width: 780px) {
    main .start .see-projects {
        left: 27%;
    }
}
@media  screen and (max-width: 750px) {
    main .services .electrician_works .text,
    main .services .additional .text {
        padding-top: 3.5rem;
    }
}
@media  screen and (max-width: 700px) {
    main .start .see-projects {
        left: 24%;
    }
}
@media  screen and (max-width: 670px) {
    
}
@media  screen and (max-width: 630px) {
    main .start .see-projects {
        left: 20%;
    }
}
@media  screen and (max-width: 570px) {
    
}
@media  screen and (max-width: 550px) {
    
}
@media  screen and (max-width: 530px) {
    main .services .electrician_works .text,
    main .services .additional .text {
        padding-top: 2rem;
    }
    main .start .see-projects {
        left: 50%;
    }
}
@media  screen and (max-width: 410px) {
    :root {
        --start-section-height: 520px;
    }
    main .start .button {
        width: 190px;
    }
    main .start .see-projects {
        top: 350px;
    }
}
@media  screen and (max-width: 360px) {
    :root {
        --start-section-height: 490px;
    }
    main .start .see-projects {
        top: 320px;
    }
}
@media  screen and (max-width: 310px) {
    :root {
        --start-section-height: 470px;
    }
    main .start .see-projects {
        top: 300px;
    }
}
