/* 
                        Table of contents

                    1. start section styling
                        1.2 intro message con styling
                        1.3 slider styling
                        1.4 buttons styling
                    2. animations
                    4. media queries

*/
/* 1. start section styling */
main .start {
    position: relative;
    height: var(--start-section-height);
    background-color: rgb(255, 255, 255);
}
/* 1.2 intro message con styling */
main .start .intro-message {
    color: white;
    background-color: var(--mid-theme-color);
    font-size: 1.8rem;
    position: absolute;
    left: 40px;
    top: 40px;
    font-family: "Rosario", sans-serif;
    padding: 0.7em 1em;
    border-radius: 10px;
    border: 5px solid var(--mid-theme-color);
    box-shadow: 4px 4px 4px #B6A591;
    z-index: 5;
    text-align: center;
}
main .start .intro-message span {
    color: rgb(58, 58, 58);
}
main .start .intro-message,
main .start .contact,
main .start .why,
main .start .about {
    transform: translateX(-200px);
    opacity: 0;
    -webkit-animation: slideRight 1s ease 0.3s forwards;
            animation: slideRight 1s ease 0.3s forwards;
}
/* 1.3 slider styling */
main .start .slider {
    position: absolute;
    right: 30px;
    bottom: 30px;
    width: 700px;
    height: 450px;
    background-color: var(--mid-theme-color);
    overflow: hidden;
    border-radius: 10px;
    border: 5px solid var(--mid-theme-color);
    box-shadow: 4px 4px 4px #B6A591;
    transform: translateX(200px);
    opacity: 0;
    -webkit-animation: slideLeft 1s ease 0.3s forwards;
            animation: slideLeft 1s ease 0.3s forwards;
}
main .start .slider .btn {
    width: auto;
    height: auto;
    cursor: pointer;
}
main .start .slider .btn i.fas {
    color: rgb(58, 58, 58);
    position: absolute;
    font-size: 2rem;
    top: 50%;
    transform: translateY(-50%);
    /* background-color: khaki; */
    z-index: 2;
    transition: color 0.4s ease;
}
main .start .slider .btn i.left {
    left: 2px;
}
main .start .slider .btn i.right {
    right: 2px;
}
main .start .slider .btn .half-circle {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 70px;
    height: 70px;
    background-color: white;
    z-index: 1;
    border-radius: 50%;
    transition: background-color 0.4s ease;
}
main .start .slider .btn div.left {
    left: -35px;
}
main .start .slider .btn div.right {
    right: -35px;
}
main .start .slider .content {
    width: 100%;
    height: 100%;
    display: flex;
}
main .start .slider .content img {
    min-width: 100%;
    height: auto;
    -o-object-position: center;
       object-position: center;
    transition: transform 0.5s ease;
}
.grab { cursor: -webkit-grab; cursor: grab; }
.grabbing { cursor: -webkit-grabbing; cursor: grabbing; }
main .start .slider .disabled {
    cursor: not-allowed;
}
main .start .slider .disabled .half-circle {
    background-color: rgb(228, 228, 228);
}
main .start .slider .disabled i.fas {
    color: rgb(83, 83, 83);
}
/* 1.4 buttons styling */
main .start .button {
    font-size: 1.8rem;
    font-family: "Rosario", sans-serif;
    position: absolute;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 10px black;
    padding: 0.9em 3.3em 0.9em 1.3em;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}
main .start .button img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 70%;
    width: auto;
    margin-left: 15px;
}
main .start .button img[alt="Gmail"] {
    height: 40%;
}
main .start .contact {
    background-color: var(--contact-blue-color);
    top: 46%;
    left: 14%;
    transform: translateY(-50%);
}
main .start .contact:hover,
main .start .contact:focus {
    background-color: #2b75f7;
} 
main .start .why {
    background-color: var(--why-green-color);
    left: 5%;
    bottom: 100px;
}
main .start .why:hover,
main .start .why:focus {
    background-color: #03a044;
}
main .start .about {
    background-color: var(--about-red-color);
    left: 25%;
    bottom: 100px;
}
main .start .about:hover,
main .start .about:focus {
    background-color: #e03324;
}
/* 2. ANIMATIONS */
@-webkit-keyframes slideRightMessage {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}
@keyframes slideRightMessage {
    from {
        transform: translateX(-500px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}
@-webkit-keyframes slideRightStart {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}
@keyframes slideRightStart {
    from {
        transform: translateX(-200px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}
@-webkit-keyframes slideLeftStart {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}
@keyframes slideLeftStart {
    from {
        transform: translateX(200px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}
@-webkit-keyframes slideRightWhy {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}
@keyframes slideRightWhy {
    from {
        transform: translateX(-300px);
        opacity: 0;
    }
    to {
        transform: translateX(-50%);
        opacity: 1;
    }
}
/* 3. MEDIA QUERIES */
@media screen and (min-width: 1500px) {
    main .start .slider {
        height: 500px;
    }
    main .start .contact {
        left: 230px;
    }
    main .start .why {
        left: 90px;
    }
    main .start .about {
        left: 390px;
    }
}
@media screen and (max-width: 1330px) {
    main .start .contact {
        left: 10%;
        top: 50%;
    }
    main .start .why {
        left: 2%;
    }
    main .start .about {
        left: 21%;
    }
}
@media screen and (max-width: 1250px) {
    main .start .button {
        height: 80px;
        width: 260px;
        padding-right: 2rem;
    }
    main .start .contact {
        left: 10%;
        top: 35%;
        transform: translateY(0);
    }
    main .start .why {
        left: 10%;
        top: 55%;
        bottom: 0;
        padding-left: 1.8em;
    }
    main .start .about {
        left: 10%;
        top: 75%;
        bottom: 0;
    }
    main .start .button img[alt="Gmail"] {
        transform: translateY(calc(-50% + 3px));
    }
}
@media screen and (max-width: 1150px) {
    main .start .contact,
    main .start .why,
    main .start .about {
        left: 3%;
    }
}
@media screen and (max-width: 1050px) {
    main .start .button {
        height: 70px;
        width: 220px;
        font-size: 1.6rem;
        padding-right: 2rem;
    }
}
@media screen and (max-width: 1000px) {
    :root {
        --start-section-height: 680px;
    }
    main .start .intro-message {
        font-size: 1.6rem;
    }
    main .start .button {
        height: 80px;
        width: 260px;
        padding-right: 2rem;
        top: 580px;
        margin-bottom: 20px;
    }
    main .start .contact {
        left: calc(15% - 130px);
    }
    main .start .why {
        left: 50%;
        transform: translateX(-300px);
        opacity: 0;
        /* animation: slideRightWhy 1s ease 0.3s forwards; */
    }
    main .start .about {
        left: calc(85% - 130px);
    }
    main .start .slider {
        bottom: 130px;
    }
}
@media  screen and (max-width: 900px) {
    main .start .button {
        height: 70px;
        width: 220px;
        font-size: 1.6rem;
        padding-right: 2rem;
    }
    main .start .contact {
        left: calc(20% - 130px);
    }
}
@media  screen and (max-width: 800px) {
    :root {
        --start-section-height: 720px;
    }
    main .start .slider,
    main .start .intro-message {
        position: static;
        margin-left: 50%;
        transform: translateX(-50%);
    }
    main .start .slider {
        margin-top: 20px;
        transform: translateX(200px);
        opacity: 0;
        /* animation: slideLeftStart 1s ease 0.3s forwards; */
    }
    main .start .intro-message {
        width: 700px;
        transform: translateX(-500px);
        opacity: 0;
        /* animation: slideRightMessage 1s ease 0.3s forwards; */
    }
    main .start {
        padding-top: 20px;
    }
    main .start .button {
        display: block;
        float: left;
        position: static;
        padding-right: 1rem;
        padding-top: 5px;
        margin-top: 20px;
        margin-left: 20px;
        margin-bottom: 20px;
        transform: translateX(0);
    }
    main .start .contact {
        padding-top: 15px;
        padding-left: 0.8em;
        margin-left: 5%;
    }
    main .start .button img {
        margin-left: 10px;
        position: static;
        height: 40px;
        transform: translateY(10px);
    }
    main .start .button img[alt="Gmail"] {
        height: 30px;
        transform: translateY(5px);
    }
    main .start .contact,
    main .start .why,
    main .start .about {
        transform: translateX(-200px);
        opacity: 0;
        /* animation: slideRight 1s ease 0.3s forwards; */
    }
}
@media  screen and (max-width: 780px) {
    :root {
        --start-section-height: 700px;
    }
    main .start .button {
        height: 60px;
        width: 180px;
        font-size: 1.4rem;
        padding-right: 1rem;
    }
    main .start .why,
    main .start .contact {
        margin-left: 7%;
    }
    main .start .about {
        margin-left: 6%;
    }
    main .start .button img {
        height: 30px;
    }
    main .start .button img[alt="Gmail"] {
        height: 20px;
        transform: translateY(5px);
    }
    main .start .why,
    main .start .about {
        padding-top: 8px;
    }
}
@media  screen and (max-width: 750px) {
    :root {
        --start-section-height: 620px;
    }
    main .start .slider,
    main .start .intro-message {
        width: 600px;
    }
    main .start .slider {
        height: 380px;
    }
    main .start .intro-message {
        font-size: 1.4rem;
    }
    main .start .why,
    main .start .contact {
        margin-left: 6%;
    }
    main .start .about {
        margin-left: 5%;
    }
}
@media  screen and (max-width: 700px) {
    main .start .why,
    main .start .contact,
    main .start .about {
        margin-left: 5%;
    }
}
@media  screen and (max-width: 670px) {
    main .start .why {
        margin-left: 3%;
    }
    main .start .contact,
    main .start .about {
        margin-left: 4%;
    }
}
@media  screen and (max-width: 630px) {
    main .start .slider,
    main .start .intro-message {
        width: 500px;
    }
    main .start .slider {
        height: 300px;
    }
    main .start .intro-message {
        font-size: 1.2rem;
    }
    main .start .about {
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        margin-left: 50%;
        transform: translateX(-200px);
        opacity: 0;
        /* animation: slideRightStart 1s ease 0.3s forwards; */
    }
    main .start .why {
        margin-left: 20%;
    }
    main .start .contact {
        margin-left: 10%;
    }
}
@media  screen and (max-width: 570px) {
    main .start .about {
        margin-left: 50%;
    }
    main .start .contact {
        margin-left: 8%;
    }
}
@media  screen and (max-width: 550px) {
    main .start .about {
        margin-left: 48%;
    }
    main .start .contact {
        margin-left: 6%;
    }
}
@media  screen and (max-width: 530px) {
    :root {
        --start-section-height: 700px;
    }
    main .start .slider,
    main .start .intro-message {
        width: 90%;
    }
    main .start .slider {
        aspect-ratio: 16/9;
    }
    main .start .slider {
        height: auto;
    }
    main .start .intro-message {
        padding: 0.6em 0.3em;
    }
    main .start .intro-message div {
        display: inline;
    }
    main .start .slider .btn i.fas {
        font-size: 1.8rem;
    }
    main .start .slider .btn .half-circle {
        width: 60px;
        height: 60px;
    }
    main .start .slider .btn div.left {
        left: -30px;
    }
    main .start .slider .btn div.right {
        right: -30px;
    }
    main .start .button {
        height: 80px;
        width: 260px;
        padding-right: 2rem;
        margin-bottom: 20px;
        font-size: 1.8rem;
        padding: 0em 0.5em .9em 1.3em;
    }
    main .start .contact {
        margin-bottom: 0;
        padding-top: 0.4em;
    }
    main .start .contact,
    main .start .why,
    main .start .about {
        margin-left: 50%;
        transform: translateX(-500px);
        opacity: 0;
        /* animation: slideRightMessage 1s ease 0.3s forwards; */
    }
    main .start .why {
        padding-left: 1.6em;
    }
    main .start .button img {
        height: 55px;
        transform: translateY(15px);
    }
    main .start .button img[alt="Gmail"] {
        height: 40px;
        transform: translateY(10px);
    }
}
@media  screen and (max-width: 430px) {
    :root {
        --start-section-height: 610px;
    }
    main .start .slider,
    main .start .intro-message {
        width: 95%;
    }
    main .start .intro-message {
        font-size: 1rem;
    }
    main .start .button {
        height: 70px;
        width: 220px;
        padding-right: 1.6rem;
        font-size: 1.5rem;
    }
    main .start .contact {
        padding-right: 0;
    }
    main .start .why {
        padding-left: 2em;
    }
    main .start .button img {
        height: 45px;
    }
    main .start .button img[alt="Gmail"] {
        height: 33px;
    }
    main .start .slider .btn i.fas {
        font-size: 1.6rem;
    }
    main .start .slider .btn .half-circle {
        width: 50px;
        height: 50px;
    }
    main .start .slider .btn div.left {
        left: -25px;
    }
    main .start .slider .btn div.right {
        right: -25px;
    }
}
@media  screen and (max-width: 330px) {
    :root {
        --start-section-height: 550px;
    }
    main .start .button {
        height: 60px;
        width: 180px;
        padding-right: 1rem;
        font-size: 1.4rem;
        padding-left: 0.8em;
        padding-top: 0.2em;
    }
    main .start .contact {
        padding-right: 0;
        padding-top: 0.5em;
    }
    main .start .why {
        padding-left: 1.5em;
    }
    main .start .button img {
        height: 35px;
        transform: translateY(10px);
        margin-left: 5px;
    }
    main .start .about {
        padding-left: 1em;
    }
    main .start .button img[alt="Gmail"] {
        height: 26px;
        transform: translateY(6px);
    }
}