/* 
                        Table of contents

                    1. 'why we' section styling
                    2. media queries

*/
/* 1. 'why we' section styling */
main section.why {
    height: var(--why-section-height);
    width: 100%;
    background-color: #99DDB5;
}
main section.why ::-moz-selection {
    background-color: white;
    color: #005925;
}
main section.why ::selection {
    background-color: white;
    color: #005925;
}
main #why_sec .text {
    font-family: "Rosario", sans-serif;
    float: left;
    /* background-color: burlywood; */
    width: 55%;
    color: #005925;
    height: calc(500px - 10%);
    padding: 5% 0 5% 5%;
}
main #why_sec .text h1 {
    padding: 0 0 0.9em 0.9em;
    font-family: inherit;
    font-size: 2.3rem;
    font-weight: 300;
}
main #why_sec .text ul {
    list-style-type: circle;
    list-style-image: url("../images/list-style-image-star-large-screen.png");
    font-size: 1.7rem;
    padding: 0 0 1.2em 1.2em;
    font-family: inherit;
}
main #why_sec .text ul li {
    font-family: inherit;
    font-size: inherit;
    margin: 0.6em 0 0 2.4em;
    padding-left: 0.3em;
}
main #why_sec .text h1,
main #why_sec .text ul .first-li,
main #why_sec .text ul .second-li,
main #why_sec .text ul .third-li,
main #why_sec .text ul .fourth-li,
main #why_sec .text ul .fifth-li {
    transform: translateX(-200px);
    opacity: 0;
}
main #why_sec .image {
    float: left;
    width: 45%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main #why_sec .image img {
    width: auto;
    height: 70%;
    transform: translateX(200px);
    opacity: 0;
}
/* 2. MEDIA QUERIES */
@media screen and (max-width: 1150px) {
    :root {
        --why-section-height: 450px;
    }
    main #why_sec.text,
    main #why_sec .image {
        height: 450px;
    }
    main #why_sec .text h1 {
        font-size: 2.1rem;
    }
    main #why_sec .text ul {
        font-size: 1.5rem;
    }
    main #why_sec .text {
        padding-bottom: 0;
    }
}
@media screen and (max-width: 1050px) {
    main #why_sec .image img {
        height: 60%;
    }
}
@media screen and (max-width: 900px) {
    main #why_sec .text h1 {
        font-size: 2rem;
    }
    main #why_sec .text ul {
        font-size: 1.4rem;
    }
    main #why_sec .text {
        padding-left: 0;
        padding-top: 8%;
    }
    main #why_sec .text ul {
        list-style-image: url("../images/list-style-image-star-small-screen.png");
    }
}
@media screen and (max-width: 750px) {
    :root {
        --why-section-height: auto;
    }
    main #why_sec .text h1 {
        font-size: 2.3rem;
    }
    main #why_sec .text ul {
        font-size: 1.7rem;
        padding-bottom: 1rem;
    }
    main #why_sec {
        display: flex;
        flex-direction: column;
    }
    main #why_sec .text,
    main #why_sec .image {
        width: 100%;
        height: auto;
        float: none;
        /* background-color: inherit; */
    }
    main #why_sec .text {
        padding-top: 7%;
        padding-left: 5%;
    }
    main #why_sec .image img {
        width: 50%;
        height: auto;
        aspect-ratio: 16/14;
    }
    main #why_sec .image {
        padding-bottom: 2rem;
        padding-top: 2rem;
    }
    main #why_sec .text ul {
        list-style-image: url("../images/list-style-image-star-large-screen.png");
    }
}
@media screen and (max-width: 630px) {
    main #why_sec .text h1 {
        font-size: 2rem;
    }
    main #why_sec .text ul {
        font-size: 1.4rem;
    }
    main #why_sec .text {
        padding-right: 1em;
    }
}
@media screen and (max-width: 500px) {
    main #why_sec .text {
        padding-left: 0;
        padding-top: 3rem;
    }
    main #why_sec .text ul {
        list-style-image: url("../images/list-style-image-star-small-screen.png");
    }
    main #why_sec .image img {
        width: 60%;
    }
}
@media screen and (max-width: 380px) {
    main #why_sec .text h1 {
        font-size: 1.6rem;
    }
    main #why_sec .text ul {
        font-size: 1.1rem;
    }
    main #why_sec .image img {
        width: 70%;
    }
}